export(classify_continuous_vector)
export(plot_expand_chebyshev)
export(expand_bin_chebyshev)
export(plot_expand_chebyshev)
export(evaluate_overlap_metrics)
export(evaluate_bidirectional_nn_distance)
export(plotMultiCellTypeProb)
export(plotCellType)
export(plotCellTypeProb)
export(createCellProxobj)
export(getCoords)
export(getExpr)
export(getCellProb)
export(getMeta)
export(getCelltypes)
export(getParams)
importFrom(ggplot2, ggplot, aes, geom_point, geom_polygon, scale_color_manual,
           scale_color_viridis_c, scale_color_gradientn, labs, theme, theme_bw,
           theme_void, element_blank, element_text, element_line, element_rect,
           coord_fixed, guides, guide_legend)
importFrom(cowplot, get_legend, ggdraw, draw_plot)
importFrom(mclust, Mclust, mclustBIC)
importFrom(fields, rdist)
importFrom(methods, new, is, as)
importFrom(S4Vectors, DataFrame)
importFrom(stats, density, median, setNames)
import(ggnewscale)